<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Common Boards</title>
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/main.css"></link>
        <link rel="stylesheet" href="css/icon_fonts.css"></link>
        <script src="js/json2.js"></script>
        <script src="js/jquery-2.0.0.min.js"></script>
        <script src="js/angular-1.0.6.min.js"></script>
        <script src="js/websocket.js"></script>
        <script src="js/lobby.js"></script>
    </head>
    <body>
        <div class="container" ng-app="LobbyApp">
            <div id="header" class="sixteen columns">
                <h1>Common Boards</h1>
            </div> 
            
            <div id="main" class="sixteen columns" ng-controller="LobbyCtrl">
            
<div class="row">
    <div class="title three columns alpha">Your name</div>
    <div class="thirteen columns omega">
        <form onsubmit="return false">
            <input id="userName"
                   type="text"
                   placeholder="anonymous"
                   ng-model="userName">
        </form>
    </div>
</div>

<div class="row">
    <div class="title three columns alpha">Host game</div>
    
    <div class="thirteen columns omega">
        <form id="gameSelectForm" onsubmit="return false">
            <select id="createGameSelect"
                    ng-model="currentGameType"
                    ng-options="gameType.name for (id, gameType) in gameTypes"
                    ng-change="requestNewGame()">
                <option value="">-- game type --</option>
            </select>
        </form>
    </div>
</div>

<div class="row">
    <div class="title three columns alpha">Join</div>
    
    <div class="thirteen columns omega">
        <table id="gameList" class="hor-minimalist-b">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Players</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(id, game) in games">
                    <td>{{ game.type }}</td>
                    <td>{{ game.name }}</td>
                    <td>{{ game.clientsHtml }}</td>
                    <!--<td><button ng-click="joinGame(id)">join</button></td>-->
                    <td><button ng-click="joinGame(id)">join</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="title three columns alpha">Build</div>
    
    <div class="thirteen columns omega">
        <a href="build.html" class="button">Go to board builder</a>
    </div>
</div>
            </div>
        </div>
    </body>
</html>