<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Common Boards - Play</title>
        <link rel="stylesheet" href="css/ui-smoothness/jquery-ui-1.10.3.custom.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/main.css"></link>
        <link rel="stylesheet" href="css/icon_fonts.css"></link>
        <script src="js/json2.js"></script>
        <script src="js/jquery-2.0.0.min.js"></script>
        <script src="js/jquery-ui-1.10.3.custom.js"></script>
        <!-- // <script src="js/jquery-ui-1.10.3.custom.min.js"></script> -->
        <script src="js/angular-1.0.6.min.js"></script>
        <!-- // <script src="js/fabric-1.1.0.min.js"></script> -->
        <script src="js/fabric-1.1.0.js"></script>
        <script src="js/websocket.js"></script>
        <script src="js/play.js"></script>

    </head>
    <body ng-app="PlayApp">

        <div class="container" ng-controller="PlayCtrl">
            <div id="header" class="sixteen columns">
                <h1 id="game_name">{{ gameName }}</h1>
            </div> 
            
            <div id="main" class="sixteen columns">
                <div class="row">
                    <canvas id="canvas" ng-main-canvas></canvas>
                    <div id="toolbar" class="four columns omega">
                        <div id="toolbar_tabs">
                            <span class="tab"
                                  ng-class="{selected:tabs.props.selected}"
                                  ng-click="selectTab('props')">
                                Properties
                            </span>
                            <span class="tab"
                                  ng-class="{selected:tabs.players.selected}"
                                  ng-click="selectTab('players')">
                                Players
                            </span>
                        </div>

                        <div class="tab_content" ng-show="tabs.props.selected">

<!-- .tab_content (properties) -->
{{ currentPiece._cbPieceName }}
<table>
    <tbody>
        <tr>
            <td>locked:</td>
            <td>
                <input ng-model="currentPiece._cbLocked"
                       ng-change="lockPiece()"
                       ng-disabled="true"
                       type="checkbox"
                       style="display:inline-block">
            </td>
        </tr>
    </tbody>
</table>
<!--
<button ng-click="sendToBack()"
        ng-disabled="currentPiece==false">
    send to back
</button>
<button ng-click="bringToFront()"
        ng-disabled="currentPiece==false">
    bring to front
</button>
-->
<!-- end .tab_content -->

                        </div>
                        <div class="tab_content" ng-show="tabs.players.selected">

<!-- .tab_content (players) -->
<div ng-repeat="(id, name) in players">
    {{ name }}
</div>
<!-- end .tab_content -->

                        </div>
                    </div>
                </div> <!-- end of skeleton row -->
            </div> <!-- end of main and controller -->
        </div> <!-- end of container and app-->
    </body>
</html>